body{
    background: url(imgs/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#Jogo{
    margin: auto;
    position: relative;
    min-width: 100px;
    max-width: 700px;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
}

#Image,#Pedra,#Papel,#Tesoura,#Comecar,#Image2{
    flex-basis: auto;
}

#Image{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

#Image2{
    -webkit-animation:spin 4s linear infinite reverse;
    -moz-animation:spin 4s linear infinite reverse;
    animation:spin 4s linear infinite reverse;   
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

button{
    height: auto;
    width: auto;
    font-size: auto;
    border-radius: 10px;
    word-wrap: normal;
}

#Pedra:hover, #Papel:hover, #Tesoura:hover, #Comecar:hover{
    background-color: gray;
}


@media screen and (max-device-width: 900px) {
    #Jogo{
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: auto;
    }

    button{
        height: 50px;
        width: 100px;
        font-size: large;
        border-radius: 10px;
        word-wrap: normal;
    }

    #Image{
        -webkit-animation: linear infinite;
        -moz-animation: linear infinite;
        animation: linear infinite;
    }
    
    #Image2{
        -webkit-animation: linear infinite reverse;
        -moz-animation: linear infinite reverse;
        animation: linear infinite reverse;   
    }

}